body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: aquamarine;
  position: fixed;
}

.body {
  background-color: azure;
}

.articles {
  padding-top: 5rem;
}

.profile-picture {
  height: 30%;
}

.pp {
  padding-left: 5%;
}

.about {
  align-content: space-around;
  padding-left: 10%;
  padding-right: 20%;
  word-wrap: break-word;
}